<!DOCTYPE html >
<html lang="pt-br">
    <head>
        <title>Bruno de Moraes - Full Stack Developer</title>

        <meta charset="utf-8"/>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Fontawesome -->
        <script src="https://use.fontawesome.com/c9a113e473.js"></script>

    </head>
    <body>
        <div class="container">
            
            <nav id="menu">
                <div id="foto-perfil">
                    <span><img src="" alt=""/></span>
                </div>

                <section id="menu-secoes">
                    <!-- 
                        Fazer um loop que itere entre todas as redes
                        sociais e imprima na tela. Verificar também
                        o nome dos icones a serem inseridos.

                        Para o icone <%= data.nome_rede_social %>
                    -->
                    <div id="redes-sociais">
                        <!-- LinkedIn -->
                        <span id="linkedin">
                            <a href="https://www.linkedin.com/in/bruno-russo-67697026/" target="_blank">
                                <i class="fa fa-linkedin fa-2" aria-hidden="true"></i>
                            </a>
                        </span>
                        <!-- GitHub colocar link -->
                        <span id="github">
                            <a href="https://www.linkedin.com/in/bruno-russo-67697026/" target="_blank">
                                <i class="fa fa-github fa-2" aria-hidden="true"></i>
                            </a>
                        </span>
                        <!-- SoundCloud colocar link -->
                        <span id="soundcloud">
                            <a href="https://www.linkedin.com/in/bruno-russo-67697026/" target="_blank">
                                <i class="fa fa-soundcloud fa-2" aria-hidden="true"></i>
                            </a>
                        </span>
                        <!-- Flickr colocar link -->
                        <span id="flickr">
                            <a href="https://www.linkedin.com/in/bruno-russo-67697026/" target="_blank">
                                <i class="fa fa-flickr fa-2" aria-hidden="true"></i>
                            </a>
                        </span>
                        <!-- Vimeo colocar link -->
                        <span id="flickr">
                            <a href="https://www.linkedin.com/in/bruno-russo-67697026/" target="_blank">
                                <i class="fa fa-vimeo fa-2" aria-hidden="true"></i>
                            </a>
                        </span>

                    </div>

                    <div id="menu-principal">
                        <span class="btn-menu">_</span>
                        <span class="btn-menu">_</span>
                        <span class="btn-menu">_</span>
                        <section id="menu-detalhes">
                            <ul id="lista-menu">
                                <!-- 
                                    Fazer a listagem conforme os assuntos
                                    inseridos pelo administrador.
                                    Loop que itera resultado do banco de dados.

                                    As ancoras devem conter o titulo de cada
                                    sessão inserida pelo administrador.
                                    Tudo deve ser em lowercase.
                                    Metodo to_lower() ( verificar ).
                                -->
                                <li><a href="#sobre-bruno">Sobre <%= data.nome_admin %></a></li>
                                <li><a href="#objetivos-profissionais">Objetivos Profissionais</a></li>
                                <li><a href="#experiencia-profissional">Experiência Profissional</a></li>
                                <li><a href="#trabalhos-voluntarios">Trabalhos Voluntários</a></li>
                                <li><a href="#experiencias-de-vida">Experiência de Vida</a></li>
                                <li><a hre="#contatos">Contatos</a></li>
                            </ul>
                        </section>
                    </div>
                </section>
            </nav>

            <article>
                <!-- 
                    Os id's devem conter o titulo, um loop vai iterar,
                    seguindo a lógica do menu.
                    Fazer uma verificação ( backend ) que retorne a classe esquerda ou direita.
                    Todos os pares devem conter classe img-direita
                -->
                <section id="sobre">
                    <span class="img-esquerda"><img src="" alt="Esse é Bruno ;)"/></span>
                    <h1><span class="p-topo">Sobre</span><span class="p-abaixo">Bruno</span></h1>
                    <div>
                        <p></p>
                    </div>
                </section>

                <section id="objetivos-profissionais">
                    <span class="img-direita"><img src="" alt="Objetivo profissional"/></span>
                    <h2><span class="p-topo">Objetivos</span><span class="p-abaixo">Profissionais</span></h2>
                    <div>
                        <p></p>
                    </div>
                </section>

                <section id="experiencia-profissional">
                    <span class="img-esquerda"><img src="" alt="Esse é Bruno ;)"/></span>
                    <h2><span class="p-topo"></span><span class="p-abaixo"></span></h2>
                    <div>
                        <p></p>
                    </div>
                </section>

                <section id="trabalhos-voluntarios">
                    <span class="img-direita"><img src="" alt="Trabalhos voluntários"/></span>
                    <h2><span class="p-topo"></span><span class="p-abaixo"></span></h2>
                    <div>
                        <p></p>
                    </div>
                </section>

                <section id="experiencias-de-vida">
                    <span class="img-esquerda"><img src="" alt="Experiências de vida"/></span>
                    <h2><span class="p-topo"></span><span class="p-abaixo"></span></h2>
                    <div>
                        <p></p>
                    </div>
                    <div id="galeria-de-fotos">
                        <span><img src="" alt=""/></span>
                    </div>
                </section>

            </article>

            <footer>
                <article id="contatos">
                    <section id="contato-mobile">
                        <h3>Contatos</h3>
                        <!-- 
                            Fazer um loop para iterar sobre todos os contatos
                            salvos no banco de dados, assim como os icones
                        -->
                        <p><i class="fa fa-phone fa-2" aria-hidden="true" />Cel.:<span>+55 11 989.550.337</span></p>
                        <p><i class="fa fa-skype fa-2"/></p>
                    </section>

                    <section id="mande-um-email">
                        <h3>Me mande um email ;)</h3>
                        <div>
                            <form method="post" action="">
                                <input type="email" id="email" class="" name="email" placeholder="Digite seu email" value="<%= %>" required/>
                                <input type="text" id="nome" class="" name="nome" placeholder="Seu nome please!" value="<%= %>" required/>
                                <input type="text" id="mensagem" class="" name="mensagem" placeholder="Escreva o que quer falar comigo ;)" />
                                <input type="button" id="btn-enviar" class="" name="btn-enviar" value="Enviar p/ Bruno :)" />
                             </form>
                        </div>
                    </section>
                </article>

                <section id="chat">
                    <div id="caixa-chat">
                        <h3>Fale com <%= data.nome_adm%> quando estiver online!</h3>
                        <p><%= data.nome_adm %> está <span id="status-offline"><%= data.status_bruno %></span></p>

                        <% if(data.status_adm == "online"){ %>

                            <h4><%= data.nome_adm %> está <span id="status-online">Online</span></h4>
                            <form method="post" action="">
                                <input type="text" id="nome_chat" name="nome_chat" 
                            </form>

                        <% } %>
                    </div>
                </section><!-- section chat -->
            </footer>
        </div><!-- Fim do container -->
    </body>
</html>